ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-mini-projet-dev"
		},
		"AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage'"
		},
		"ORA_SASDDSD_DEV_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ORA_SASDDSD_DEV'"
		},
		"ls_co01isilon_data_analitica_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_co01isilon_data_analitica'"
		},
		"ls_oracle_dbomasdev_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_oracle_dbomasdev'"
		},
		"AzureSqlDatabaseConn_properties_parameters_fullyQualifiedDominNameAzureSQLCICD_defaultValue": {
			"type": "string",
			"defaultValue": "sql-server-cicd-dev-jr.database.windows.net"
		},
		"AzureSqlDatabaseConn_properties_parameters_databaseNameSQLCICD_defaultValue": {
			"type": "string",
			"defaultValue": "sql-cicd-dev-jr"
		},
		"K_AzureDatabriks_dev_placeholder_properties_parameters_keyVaultLinkedServiceName_defaultValue": {
			"type": "string",
			"defaultValue": "kv_mini_projet_adf_linked"
		},
		"K_AzureDatabriks_dev_placeholder_properties_parameters_secretName_defaultValue": {
			"type": "string",
			"defaultValue": "databricks-pat"
		},
		"K_AzureDatabriks_dev_placeholder_properties_parameters_clusterId_defaultValue": {
			"type": "string",
			"defaultValue": "1010-091434-nqc7ex96"
		},
		"K_AzureDatabriks_dev_placeholder_properties_parameters_databricksDomain_defaultValue": {
			"type": "string",
			"defaultValue": "https://adb-1194260751860413.13.azuredatabricks.net/"
		},
		"K_AzureDatabriks_dev_placeholder_properties_parameters_secretVersion_defaultValue": {
			"type": "string",
			"defaultValue": "b786f7a6696e451babba51fb6c0ea7d4"
		},
		"kv_mini_projet_adf_linked_properties_parameters_keyVaultBaseUrl_defaultValue": {
			"type": "string",
			"defaultValue": "https://kv-mini-projet-adf.vault.azure.net/"
		},
		"pep-adf-dlsdaconfdev01_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/fe8afbab-2534-47dd-9884-fb60350daf6d/resourceGroups/rg-DataStorage-dev-eu2-01/providers/Microsoft.Storage/storageAccounts/dlsdaconfdev01"
		},
		"pep-adf-dlsdaconfdev01_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"pep-adf-dlsdaconfdev01_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"dlsdaconfdev01.dfs.core.windows.net"
			]
		},
		"pep-dbw-dataingestion-dev_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/fe8afbab-2534-47dd-9884-fb60350daf6d/resourceGroups/rg-DataIngestion-dev-eu2/providers/Microsoft.Databricks/workspaces/dbw-bpdanalytic-dev-eu2-01"
		},
		"pep-dbw-dataingestion-dev_properties_groupId": {
			"type": "string",
			"defaultValue": "databricks_ui_api"
		},
		"pep-dbw-dataingestion-dev_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"adb-3038639577382291.11.azuredatabricks.net"
			]
		},
		"default_properties_notebookPath_value": {
			"type": "string",
			"defaultValue": "adb-mini-projet/dev/files/test"
		},
		"default_properties_esteEsUnParametroGLobal_value": {
			"type": "string",
			"defaultValue": "test desde dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipeline_run_notebook_dev",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().globalParameters.notebookPath",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "K_AzureDatabriks_dev_placeholder",
							"type": "LinkedServiceReference",
							"parameters": {
								"keyVaultLinkedServiceName": "kv_mini_projet_adf_linked",
								"secretName": "databricks-pa",
								"clusterId": "1010-091434-nqc7ex96",
								"databricksDomain": "https://adb-1194260751860413.13.azuredatabricks.net/",
								"secretVersion": "b786f7a6696e451babba51fb6c0ea7d4"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"notebookPath": {
						"type": "string",
						"defaultValue": "adb-mini-projet/dev/files/src"
					},
					"esteEsUnParametroDePipeline": {
						"type": "string",
						"defaultValue": "Pintarse la cara color esperanza tentar al futuro con el coracón"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/K_AzureDatabriks_dev_placeholder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_21_11_25')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1-dev",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "jsonDatasetView",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1-dev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1-dev').output.value[0].tablas",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT * FROM dbo.', item().sink_table_name)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSQLView",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/jsonDatasetView')]",
				"[concat(variables('factoryId'), '/datasets/AzureSQLView')]",
				"[concat(variables('factoryId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLView')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseConn",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseConn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "parquet",
						"fileSystem": "tabla"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_co01isilon_to_dbomascdev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_co01isilon_data_analitica",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sink_folder": {
						"type": "string",
						"defaultValue": "test_dev"
					},
					"csv_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@concat(dataset().csv_name,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().sink_folder",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_co01isilon_data_analitica')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oracle_dbomaskdev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oracle_dbomasdev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table": {
						"type": "String",
						"defaultValue": "books"
					}
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "EXDATAMASKTOLANDING",
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oracle_dbomasdev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/jsonDatasetView')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tablas.json",
						"folderPath": "json",
						"fileSystem": "datasets"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"tablas": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"source_table_name": {
										"type": "string"
									},
									"sink_table_name": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://stadlscicddev.dfs.core.windows.net/",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseConn')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"fullyQualifiedDominNameAzureSQLCICD": {
						"type": "string",
						"defaultValue": "[parameters('AzureSqlDatabaseConn_properties_parameters_fullyQualifiedDominNameAzureSQLCICD_defaultValue')]"
					},
					"databaseNameSQLCICD": {
						"type": "string",
						"defaultValue": "[parameters('AzureSqlDatabaseConn_properties_parameters_databaseNameSQLCICD_defaultValue')]"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "@{linkedService().fullyQualifiedDominNameAzureSQLCICD}",
					"database": "@{linkedService().databaseNameSQLCICD}",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity",
					"databaseNameSQLCICD": "@{linkedService().databaseNameSQLCICD}",
					"fullyQualifiedDominNameAzureSQLCICD": "@{linkedService().fullyQualifiedDominNameAzureSQLCICD}"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/K_AzureDatabriks_dev_placeholder')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"keyVaultLinkedServiceName": {
						"type": "string",
						"defaultValue": "[parameters('K_AzureDatabriks_dev_placeholder_properties_parameters_keyVaultLinkedServiceName_defaultValue')]"
					},
					"secretName": {
						"type": "string",
						"defaultValue": "[parameters('K_AzureDatabriks_dev_placeholder_properties_parameters_secretName_defaultValue')]"
					},
					"clusterId": {
						"type": "string",
						"defaultValue": "[parameters('K_AzureDatabriks_dev_placeholder_properties_parameters_clusterId_defaultValue')]"
					},
					"databricksDomain": {
						"type": "string",
						"defaultValue": "[parameters('K_AzureDatabriks_dev_placeholder_properties_parameters_databricksDomain_defaultValue')]"
					},
					"secretVersion": {
						"type": "string",
						"defaultValue": "[parameters('K_AzureDatabriks_dev_placeholder_properties_parameters_secretVersion_defaultValue')]"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "@linkedService().databricksDomain",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kv_mini_projet_adf_linked",
							"type": "LinkedServiceReference",
							"parameters": {
								"keyVaultBaseUrl": "https://kv-mini-projet-adf.vault.azure.net/"
							}
						},
						"secretName": {
							"value": "@linkedService().secretName",
							"type": "Expression"
						},
						"secretVersion": {
							"value": "@linkedService().secretVersion",
							"type": "Expression"
						}
					},
					"existingClusterId": "@linkedService().clusterId",
					"clusterId": "@{linkedService().clusterId}",
					"databricksDomain": "@{linkedService().databricksDomain}",
					"secretName": "@{linkedService().secretName}",
					"secretVersion": "@{linkedService().secretVersion}"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kv_mini_projet_adf_linked')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ORA_SASDDSD_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"version": "2.0",
				"typeProperties": {
					"server": "(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.96.46.207)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SASDMDEV)))",
					"authenticationType": "Basic",
					"username": "SASDDSD",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ORA_SASDDSD_DEV_password')]"
					},
					"supportV1DataTypes": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kv_mini_projet_adf_linked')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"keyVaultBaseUrl": {
						"type": "string",
						"defaultValue": "[parameters('kv_mini_projet_adf_linked_properties_parameters_keyVaultBaseUrl_defaultValue')]"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "@{linkedService().keyVaultBaseUrl}",
					"keyVaultBaseUrl": "@{linkedService().keyVaultBaseUrl}"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls2_landing_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://dlsdaconfdev01.dfs.core.windows.net/"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_co01isilon_data_analitica')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "\\\\co01isilon.corp.popular.local\\DATA_ANALITICA\\DataEngineering",
					"userId": "DESABPD\\U34310",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_co01isilon_data_analitica_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyvault_da')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "https://kv-bpdanalytic-shared.vault.azure.net/"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_oracle_dbomasdev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexion base de datos oracle staging(DataMasking) en ambiente desarrollo.",
				"annotations": [],
				"type": "Oracle",
				"version": "2.0",
				"typeProperties": {
					"server": "(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.96.48.67)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DBOMASDEV)))",
					"authenticationType": "Basic",
					"username": "EXDATAMASKTOLANDING",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_oracle_dbomasdev_password')]"
					},
					"supportV1DataTypes": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rm_adls2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://dlsdaconfdev01.dfs.core.windows.net/"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/pep-adf-dlsdaconfdev01')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('pep-adf-dlsdaconfdev01_properties_privateLinkResourceId')]",
				"groupId": "[parameters('pep-adf-dlsdaconfdev01_properties_groupId')]",
				"fqdns": "[parameters('pep-adf-dlsdaconfdev01_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/pep-dbw-dataingestion-dev')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('pep-dbw-dataingestion-dev_properties_privateLinkResourceId')]",
				"groupId": "[parameters('pep-dbw-dataingestion-dev_properties_groupId')]",
				"fqdns": "[parameters('pep-dbw-dataingestion-dev_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/globalparameters",
			"apiVersion": "2018-06-01",
			"properties": {
				"notebookPath": {
					"type": "string",
					"value": "[parameters('default_properties_notebookPath_value')]"
				},
				"esteEsUnParametroGLobal": {
					"type": "string",
					"value": "[parameters('default_properties_esteEsUnParametroGLobal_value')]"
				}
			},
			"dependsOn": []
		}
	]
}